body {
  background-color: #f2f3f5;
}
body div.App {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
/* Header */

.Topnav {
  height: 60px;
  background-color: #2b78d6; /* primary-color */
}
.Topnav .navbar {
  flex-wrap: nowrap;
  width: 100%;
  padding: 6px 16px;
}
.Topnav a.brand {
  display: block;
  flex: 0 1 40%;
  font-size: 1rem;
  color: white;
}
.Topnav .svg-inline--fa.fa-w-16 {
  height: 19px;
  width: auto;
}
.Topnav .top-menu {
  flex: 1 0 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.Topnav .input-group {
  flex-wrap: nowrap;
  margin-left: 1em;
}
.logo,
.mark {
  display: none;
}
.sitename {
  margin-left: 0.25em;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
    .tmark {
    display: inline-block;
  }
  .logo {
    display: none;
  }
  .Topnav .input-group span {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .Topnav .navbar {
    padding: 12px 16px 0 16px;
  }
  .tmark {
    display: none;
  }
  .logo {
    display: inline-block;
  }
  .Topnav .input-group span {
    display: inline;
  }
}

/* Home */

.Main {
  padding: 1.5em;
}
.Home {
  display: flex;
  flex-direction: column;
}
.Params {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0 0 1em 0;
}
.Params .params-title h1 {
  font-size: 1.25em;
  margin: 0;
}
.Params .params-content div {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
.monitor span {
  display: inline-block;
  margin-left: 0.25em;
}
.monitor .svg-inline--fa.fa-w-16 {
  height: 19px;
  width: auto;
}
.params-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.params-title > div:first-of-type {
  margin-right: 1em;
}
.params-content {
  display: flex;
  flex-direction: column;
}
.params-title {
  margin-right: 1.5em;
}
.Activity, .Properties {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Params .btn-dark {
  background-color: #2b78d6;
  border: 0;
  border-radius: 2px;
  padding: 8px 12px;
}
table.table {
  background-color: white;
  font-size: 12px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(58, 59, 73, 0.18), 0 3px 8px 0 rgba(58, 59, 73, 0.05);
  table-layout: auto;
}
table.table td, 
table.table th {
  word-wrap: break-word;
  word-break: break-all;
  min-width: 70px;
  padding: 10px 8px;  
}
table.table .table-primary > th {
  background-color: #fafafa;
  color: #7e90a1;
  border: 0;
}
table.table td b {
  font-weight: 400;
  display: inline-block;
}
table.table td.table-field {
  color: #7e90a1;
}
table.table td tr td {
  padding: 4px 12px;
 }
table.table td tr:first-of-type td {
 border-top: 0;
}
table.table td.json.tblcol.v4 {
  width: 30%;
}
table.table .table td.json.tblcol.v4 {
  width: auto;
}
table td.json.tblcol.v3:first-of-type,
table td.json.tblcol.v4:first-of-type {
  color: #7e90a1;
}

@media only screen and (min-width: 992px) {
  .Params {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .Params h1 {
    font-size: 1.75em;
  }
  .params-title, .params-content {
    width: 50%;
  }
  .params-title {
    justify-content: flex-start;
  }
  .Activity, .Properties {
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 50%;
    width: calc(50% - 1.5em);
  }
  .Activity {
    margin-right: 1.5rem;
  }
  table.table td, 
  table.table th {
    min-width: 80px;
    padding: 12px;  
  }
  }
.Recent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0 0 1em 0;
}
.Main,
.AccData,
.Recent,
.Activities, 
.AccountActivites {
  width: 100%;
}
@media only screen and (min-width: 1440px) {
  .Recent {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .Activities, .Account {
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 50%;
    width: calc(50% - 1.5em);
  }
  .Activities {
    margin-right: 1.5rem;
  }
}
.BlockInfo .ant-descriptions-title {
  margin-bottom: 14px;
  font-size: 1.25em;
}
.BlockInfo .ant-descriptions-view {
  background-color: white;
  width: 100%;
  padding: 16px;
  box-shadow: 0 1px 2px 0 rgba(58, 59, 73, 0.18), 0 3px 8px 0 rgba(58, 59, 73, 0.05);
  border-radius: 2px;
}
.BlockInfo__tab {
  background-color: white;
  padding: 16px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.BlockInfo .wls-message {
  background-color: white;
}
.BlockInfo__operations {
  margin-top: 16px;
}
.BlockInfo__tab.json {
  font-size: 11px;
  line-height: 11px;
}
.BlockInfo .ant-tabs-card-bar {
  margin-bottom: 0;
}
.BlockInfo .ant-descriptions-item {
  vertical-align: middle;
}
.BlockInfo .ant-descriptions-item-label {
  color: #7e90a1;
  display: inline-block;
  float: none;
}
.BlockInfo .ant-descriptions-item-content {
  display: inline-block;
  float: none;
}
td.op-name {
  font-weight: 500;
  color: #7e90a1;
}

/* Footer */

footer {
  width: 100%;
  position: relative;
  height: auto;
  align-self: flex-end;
}
.menu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1.5em 1em;
  background-color: #2b78d6;
  margin: 0;
}
.menu-bottom > li {
  flex: 0 0 auto;
  margin: 0 1.5rem 0 0;
  font-size: 1rem;
  font-weight: 300;
  list-style-type: none;
}
.menu-bottom > li > a {
  color: white;
}

/* Common */

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.badge-primary,
.badge-warning {
  background-color: #989fdd;
  color: white;
  border-radius: 2px;
  padding: 4px 6px;
  margin-left: 0.25em;
  position: relative;
  top: -2px;
  font-weight: 400;
}
.ant-btn-primary {
  background-color: #2b78d6;
  color: white;
  border-radius: 2px;
  border: 0;
  padding: 10px 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin: 1em 0; 
  height: auto;
}
